input[type="submit"] {
    justify-content: center;
    width: 100%;
    letter-spacing: 3px;
    background-color: transparent;
    color: white;
    border: 1px solid #FFFFFF;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
}

label {
    color: #DCDCDC;
    font-family: sans-serif
}

input[type="submit"]:hover {
    background-color: rgb(51, 181, 229);
    color: white;
    border-color: white;
    letter-spacing: 10px;
}

/*
body {
    background-image: url("https://images.unsplash.com/photo-1605798410801-e7680bf2cdc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    position: marker;

}

 */

.background {
    background-color: rgb(51, 181, 229, 0.9);
}

.background-image {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("https://images.unsplash.com/photo-1605798410801-e7680bf2cdc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    width: 100%;
    height: 100%;
}



/* Customize the label (the container) */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
    color: #2196F3;
    display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 35px 150px 35px 150px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

