<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} ScooTeq</title>
      {% else %}
      <title>Welcome to ScooTeq</title>
      {% endif %}
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="../static/index.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
    <div class="background-image wrapper flex-grow-1">
        {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a  class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                {% if current_user.is_anonymous %}
                </li>
                <li class="nav-item active">
                <a  class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                {% else %}
                </li>
                <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                </li>
                <li class="nav-item ">
                <a  class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
            {% endif %}
        </div>
        </nav>
    </div>
        {% block content %}{% endblock %}
        <div class="mt-5 footer">
            <!-- Footer -->
            <footer class="text-center text-lg-start bg-light text-muted ">
                <!-- Section: Social media -->
                <section
                        class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom"
                >
                    <!-- Left -->
                    <div class="me-5 d-none d-lg-block">
                        <span>Get connected with us on social networks:</span>
                    </div>
                    <!-- Left -->

                    <!-- Right -->
                    <div>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <!-- Right -->
                </section>
                <!-- Section: Social media -->

                <!-- Section: Links  -->
                <section class="">
                    <div class="container text-center text-md-start mt-auto">
                        <!-- Grid row -->
                        <div class="row mt-3">
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    <a href="{{ url_for('impressum') }}" class="text-reset">Imprint</a>
                                </h6>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    <a href="https://www.bird.co/terms/" class="text-reset">User agreement</a>
                                </h6>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    <a href="https://www.bird.co/privacy/" class="text-reset">Privacy policy</a>
                                </h6>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    <a href="https://www.li.me/en-de/legal/legal-bases" class="text-reset">Legal bases</a>
                                </h6>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                </section>
                <!-- Section: Links  -->

                <!-- Copyright -->
                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                    © 2022Copyright:
                    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">www.sqooteq.com</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </div>
    </div>





    </body>
</html>