{% extends "base.html" %}

{% block content %}

<div class="content container">
    <div class="row justify-content-center">
        <div class="col-xs-2">
            <h1> Imprint</h1>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-xs-2">
            <div class="d-flex flex-row mb-3 justify-content-evenly">
                <div class="p-4">
                    <p>
                        <i class="fas fa-home me-3"></i>
                        <br>
                        ScooTeq GmbH <br>
                        Happystraße 25 <br>
                        22001 HH <br>
                        DE
                    </p> <br>
                </div>
                <div class="p-4">

                    <p>
                        <br>
                        <i class="fas fa-envelope me-3"></i>
                        Telephone: <br>
                        +49 (0) 40 222 111 33 <br>
                        Email: <br>
                        scooteq@company.com
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center p-2">
        <div class="col-xs-2">
            <h5>
                <br>
                <strong> We are the market leaders in scooter technologies. <br> We offer the best services and are dedicated to
                    our customer's satisfaction.</strong>
            </h5>
        </div>
    </div>

</div>


{% endblock %}
