{% extends "base.html" %}

{% block content %}
<div class="container content">
    <div class="row justify-content-center">
        <h1>Hello {{user.username}}! Welcome to your User Account :)</h1>
    </div>
    <div class="row justify-content-center">
        <p>To start your journey please click on "Start Rent"</p>
    </div>
    {% if form %}
    <div class="row justify-content-center">
        <div class="col-xs-2">

            <form action="" name="ride_form" id="ride_form" method="post" style="background-color: transparent;
                                                                                                    border: 0 transparent;
                                                                                                    ">
                {{ form.hidden_tag() }}
                <div style="display: none">
                    <input id="start_input" name="start_input">{{ form.start }}</input>
                    <input id="stop_input" name="stop_input">{{ form.stop }}</input>
                    <input id="minutes_input" name="minutes_input">{{ form.minutes }}</input>
                    <input id="costs_input" name="costs_input">{{ form.costs }}</input>
                </div>
                <!-- <input style="display: none" id="start_input" name="start_input" type="date">
                <input style="display: none" id="stop_input" name="stop_input" type="date">
                <input style="display: none" id="costs_input" name="costs_input" type="number">
                <input style="display: none" id="minutes_input" name="minutes_input" type="number"> !-->
                <div class="d-flex flex-row mb-3">
                    <div class="p-2">
                        <button name="start_time" class="btn btn-success" type="button" id="start_btn"
                                onclick="clickStart()">
                            Start Rent
                        </button>
                    </div>
                    <div class="p-2" id="start_display"></div>
                </div>
                <div class="d-flex flex-row mb-3">
                    <div class="p-2">
                        <button disabled name="stop_time" type="button" class="btn btn-danger" id="stop_btn"
                                onclick="clickStop()" style="display: none">Stop Rent
                        </button>
                    </div>
                    <div class="p-2" id="stop_display"></div>
                </div>

                <div id="ride_time_and_costs_display"></div>

                <!-- Modal -->
                <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Ride Summary</h5>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>






        {% endif %}
    </div>
</div>
</div>
{% endblock %}