<head>
</head>
<body>
{% extends "base.html" %} {% block content %}
<div class="container background" style="border-radius: 35px 150px 35px 150px;">
    <div class="row justify-content-center">
        <h1 class="display-3" style="color:azure">Sign In</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-2">
            <form class="form-control form-control-lg" action="" method="post" novalidate style="background-color: transparent;
                                                                                                    border: 0 transparent;
                                                                                                    ">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                <div class="checkboxContainer d-flex align-items-center">

                <p>{{ form.remember_me() }}<span class="checkmark"></span> {{ form.remember_me.label }}</p>
                </div>
                <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}