{% extends "base.html" %}

{% block content %}
<div class="container background" style="border-radius: 35px 150px 35px 150px;">
    <div class="row justify-content-center">
        <h1 class="display-3" style="color:azure">Register</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-2">
            <form class="form-control form-control-lg" action="" method="post" novalidate style="background-color: transparent;  border: 0 transparent;
                                                                                                    ">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=64) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}