{% extends "base.html" %}

{% block content %}

<div class="content container">
    <div class="row justify-content-center">

        <h1>Dear {{ user.username }},</h1>

    </div>
    <div class="row justify-content-center">
        <h2>here you can find a history of your rides.</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-2">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th scope="col">Start Time</th>
                        <th scope="col">Stop Time</th>
                        <th scope="col">Total Usage (in min)</th>
                        <th scope="col">Ride price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                    <tr>
                        <td class="align-middle">{{ride.start}}</td>
                        <td class="align-middle">{{ride.stop}}</td>
                        <td class="align-middle">{{ride.minutes}}</td>
                        <td class="align-middle">{{"%.2f" % ride.costs}} €</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
